.App {
  position: relative;
}
.lds-dual-ring {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: darkgrey;
  opacity: 0.3;
}
.lds-dual-ring:after {
  position: absolute;
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}